.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj.user
plots/
data/
tcell/
unstim_jurkat/
stim_jurkat/
GM12878/
PICS2/
UK_biobank_finemapping_enrichment/release1.1/
UK_biobank_finemapping_enrichment/plots/